.images{
    border: 1px solid rgba(0, 0, 0, 0.281);
    background-image: url(https://pbs.twimg.com/media/EhdOM0xUcAE28io?format=jpg&name=large);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}
.images .Floating-caption{
   
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 5px;  
}
.images .Floating-caption .float_head{
    color:rgb(136, 192, 214);
    margin-top: 0px !important;
    font-size: 40px;
    text-align: center;
    padding-top: 40px; 
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 3px  rgb(43, 40, 40);
    padding-left: 15px;
} 
.images .Floating-caption .float_txt{
    text-align: left;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(168, 186, 221);
    text-shadow: 0px 2px  rgb(43, 40, 40);
    font-family: 'Roboto Slab', serif;
    padding-left: 5px;
    padding-top: 0px;

}

.new_margin p {
    padding: 20px 0px;
    font-style: oblique;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ashish{
    font-size: 30px;
    color: rgb(0, 255, 76);
    padding-left: 600px;
}
/* .Text:p{
    padding: 20px 0px;
    font-style: oblique;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} */
@media screen and (max-width:450px){
    .images{
        border: 1px solid rgba(0, 0, 0, 0.281);
        background-image: url(https://pbs.twimg.com/media/EhdOM0xUcAE28io?format=jpg&name=large);
        background-repeat: no-repeat;
        background-size: cover;
        height: 68vh;
        width: 100%;
    }
    .images .Floating-caption{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.767);
        border-radius: 5px; 
        height: auto; 
    }
    .images .Floating-caption .float_txt{
        display: flex;
        justify-content: center;
        text-align:center;
        font-size: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(168, 186, 221);
        text-shadow: 0px 2px  rgb(43, 40, 40);
        font-family: 'Roboto Slab', serif;
        /* padding-left: 5px; */
        padding-top: 0px;
    
    }
    .images .Floating-caption .float_head{
        color:rgb(136, 192, 214);
        margin-top: 0px !important;
        font-size: 20px;
        padding-top: 40px; 
        text-align: center;
        font-family: 'Roboto Slab', serif;
        text-shadow: 1px 3px  rgb(43, 40, 40);
        padding-left: 15px;
    } 
    .new_margin p {
        padding: 20px 0px;
        font-style: oblique;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    


}