
.sig{
    margin-left: 10px;
}
.Box img{
   height: 50px;
}
.cla{
  background-color: #4CAF50;
}
.btn{
  color: #fff;

}
.nav-link{
  font-size: 170%;
  color: #fff;
}
.nav-item a{
  color: #fff;  
}